STEP_CA_JWK=
STEP_CA_PEM=
STEP_CA_PASSWORD=
STEP_CA_PROVISIONER=device-provisioner
STEP_CA_PROVIDER_URL=https://ca.ownerofglory.com:32443

OAUTH2_CLIENT_ID_GOOGLE=<id>.apps.googleusercontent.com
OAUTH2_CLIENT_SECRET_GOOGLE=
